.container {
  padding: 15px;
}

.powered-by {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    margin-right: 5%;
  }

.preview-button {
  border: 0;
  border-radius: 3px;
  font-size: 16px;
  font-weight: bold;
  padding: 16px;
  transition: all 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  width: 100%;
  color: white;
  background-color: #663399;
  margin-top: 16px;
  color: white;
  font-weight: 400;
}

.preview-button:hover {
  background-color: #542c85;
  cursor: pointer;
}

p {
  color: #7f7c82;
  font-size: 16px;
  margin-bottom: 0;
  margin-right: 5%;
}